body {
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2, h3, nav, footer {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold; 
}

a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

