<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegacion</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <img src="/templates/nav/iconosnav/logo.png" id="logo" alt="Logo">
            </li>
            <li>
                <img src="/templates/nav/iconosnav/casita.png" alt="Inicio">
                <a href="#inicio">Inicio</a>
            </li>
            <li>
                <img src="/templates/nav/iconosnav/documento.png" alt="DashBoard/Base de Datos">
                <a href="#dashboard">DashBoard/Base de Datos</a>
            </li>
            <li>
                <img src="/templates/nav/iconosnav/calculadora.png" alt="Calculadora Consumo">
                <a href="#calculadora">Calculadora Consumo</a>
            </li>
        </ul>
    </nav>
</body>
</html>