<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Navegación Responsivo</title>
    <link rel="stylesheet" href="/templates/nav/nav.css">
</head>
<body>
    <nav>
        <div class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu" id="menu">
                <li>
                    <img src="../templates/nav/iconosnav/logo.png" id="logo" alt="Logo">
                </li>
                <li>
                    <img src="../templates/nav/iconosnav/casita.png" alt="Inicio">
                    <a href="../inicio/Inicio.html">Inicio</a>
                </li>
                <li>
                    <img src="../templates/nav/iconosnav/documento.png" alt="DashBoard/Base de Datos">
                    <a href="../dashboard/dashboard.html">DashBoard/Base de Datos</a>
                </li>
                <li>
                    <img src="../templates/nav/iconosnav/calculadora.png" alt="Calculadora Consumo">
                    <a href="../calculadora/calculadora.html">Calculadora Consumo</a>
                </li>
            </ul>
        </nav>
        <script src="/templates/nav/botoninicio.js"></script>
</body>
</html>
